.titleResultCorrect, .titleResultIncorrect, #resultInstruction {
  font-family: HelveticaNeueLTStd-Th, 'Oswald', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
}

.titleResultCorrect, .titleResultIncorrect {
  font-size: 3rem;
}

.titleResultCorrect {
  color: #15E13D;
}

.titleResultIncorrect {
  color: red;
}

.resultChoice {
  font-family: HelveticaNeueLT-BlackCond, 'Oswald', sans-serif;
  font-size: 2rem;
  color: #00fffe;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #404040;
  padding: 5px 20px;
  margin: 12px 0;
}

#resultInstruction {
  color: white;
  font-size: 1.3em;
}
